<%= image_tag movie.movie_poster_url(:thumb).to_s %>
<h2><%= link_to movie.title, movie_path(movie) %> 
<% if movie.review_average > 0 %>
  <%= movie.review_average %>/10
<% end %>
</h2>
<h3><%= formatted_date(movie.release_date) %></h3>
<h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
<ul>
<% if !movie.genres.empty? %>
  <strong>Genres</strong>
  <% for genre in movie.genres %>
    <li><%= genre.name %></li>
  <% end %>
<% end %>
</ul>
<p><%= movie.description %></p>
<hr>
