<h1>Users List</h1>
<%= link_to "Add new user!", new_admin_user_path %>

<table>
  <thead>
    <tr>
      <td>Full Name</td>
      <td>Email</td>
      <td>Admin?</td>
      <td>Created At</td>
    </tr>
  </thead>
  <tbody>
  <% @users_admin.each do |user| %>  
    <tr>
       <td><%= user.full_name %></td>
       <td><%= user.email %></td>
       <td><%= user.admin? %></td>
       <td><%= user.created_at %></td>
    </tr>
  <% end %>
 </tbody>
</table>

