<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
  <% if impersonating_user? %> 
    <p><%= link_to 'Switch back to account', admin_user_stop_impersonating_path(session[:user_id]), method: :get %></p>
  <% end %> 

  <div class="container-fluid">
    <%= yield %>
  </div>   
  <%= render 'layouts/footer' %>
</body>
</html>
